.App {
  text-align: center;
}

.SelectableGroup-plants {
  display: grid;
  justify-items: center;
}

.selectable-selectbox {
  z-index: 100;
  position: absolute;
  cursor: default;
  background: none;
  border: 1px dashed grey;
}
