.Plant {
    height: 50px;
    width: 50px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.Plant-number {
}

.notPlanted {
    background-color: lightgray;
}

.selecting {
    color: black;
    background-color: aquamarine;
}

.selected {
    color: black;
    background-color: lightcoral;
}